@layout MainLayout
@page  "/index"
@inject NavigationManager NavigationManager

 
<center>
    <div class="row justify-content-center align-items-center">
        <img src="/logo.png" alt="Logo" style="height:auto;" />
    </div>
</center>