@inherits LayoutComponentBase

<div class="col-12">
    <div class="row">
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatAppBarTitle>Neroli Technologies Limited</MatAppBarTitle>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
        </MatAppBarContainer>
    </div>
    <div>
        <br /><br />
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <br /><br />
            </div>
            @Body
        </div>
    </div>
</div>